@tailwind base;
@tailwind components;
@tailwind utilities;

.pdf-canvas img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  width: 100%;
  vertical-align: middle;
}

/* .react-pdf__Page__canvas {
  margin: 0 auto;
  width: 10px !important;
  height: 10px !important;
} */
